*{
    padding: 0;
    margin: 0;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;

}

.header{
    background-color: rgb(255, 255, 255);
    color:black;
    padding: 1rem 0;
    width: 100%;
    position: fixed;

}

a{
    color: grey;
    text-decoration: none;
    font-size: 20px;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link{
    display: flex;
    gap: 30px;
}

.headingone{
    font-size: 40px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 1px 1px 3px black;
}

.headingtwo{
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   background-color: lightskyblue; 
   padding: 15px 15px;
   border-radius: 5px;
   color: darkblue;
}

.herosection{
    padding: 5rem 0;
}

.content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.headingthree{
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #111;
    margin-top: 100px;
}

.paraone{
    color: #1da1f2;
}

.paratwo{
    margin: 20px 0;
    font-family: cursive;
    font-size: 20px;
    color: grey;
}


button{
    padding: 14px 28px;
    background-color: #1da1f2;
    color: #fff;
    border-radius: 8px;
    font-size: 22px;
    cursor: pointer;
}

img{
    margin-top: 50px;
}